#menu_feedbutton{
    
    height: 40px;
    background-color: rgba(52,58,64,0.3);
    border-color: #28A745;
    color: #28A745;
    border-radius: 10px;
    float: left;
    display: block;
    margin-left: 40px;
    margin-top: 8px;
    width: 95px;
    
}

.button_feedcont{
    
    display: block;
    height: 55px;
    /* background-color: rgba(52,58,64,0.6); */
    background-color: whitesmoke;
    clear: right;
  }


.signupcap{
    background: url("https://www.askideas.com/media/78/Adorable-Pink-Flowers-Field-Picture.jpg");    
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.signupcontainer{
    box-shadow: 10px 10px 20px 5px black;
    margin-top : 95px;
    width: 35%;
    margin-bottom:  100px;
    margin-right: 32.5%;
    margin-left: 32.5%;
    /*border: 2px solid orange;*/
    
    justify-content: center;
    border-radius: 50px;
    background-color: white;
    z-index: 1;
}
.signupoverlay{
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.7;
    position: absolute;
}
/* input{
    margin-left: 10%; 
    margin-right: 10%; 
    line-height: 2px;
    margin-top: 5px;
    padding-left: 5%;
 
} */
.signuplab,.signuplab1{
    padding-left: 40px;
    padding-bottom: 30px;
    font-weight: bold;
    
    
}
.h2{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 35px;
}
.signupinp1,.signupinp{
    margin-left: 10%; 
    margin-right: 10%; 
    line-height: 2px;
    margin-top: 5px;
    padding-left: 5%;
    width: 80%;
    height: 50px;
    border-radius: 100px;

}
.signupbutt{
    width: 80%;
    height: 50px;
    border-radius: 100px;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 10%;
    background-color: #F44336;
    outline: 0;
    color: white;
    
}
button:focus {outline:0;}

.pp{
    text-align: center;
    padding-right: 45px;
    font-weight: bold;
    padding-bottom: 50px;
    color: orangered
}
#two{
    width: 20px
}
@media(max-width: 1024px) and (min-height:1366px){
    .signupcontainer{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 360px;
        margin-bottom: 360px;
    }
}

@media(max-width: 768px) and (min-height:1024px){
    .signupcontainer{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 180px;
        margin-bottom: 200px;
    }
}

@media(max-width: 990px){
    .signupcontainer{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
} 

@media(max-width: 600px){
    .signupcontainer{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
} 
